!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    = render 'app/partials/navbar'

    = yield

    = render 'app/partials/footer'
    = render 'app/partials/scripts'
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js'}
