!!!
%html
  = render 'app/layouts/head'
  %body
    %a.float-button.btn.btn-float{href: "https://api.whatsapp.com/send?phone=584246779776"}
      %i.icofont-whatsapp
    = render 'app/partials/navbar'

    = yield

    = render 'app/partials/footer'
    = render 'app/partials/scripts'
