!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    %a.float-button.btn.btn-float{href: "#"}
      %i.icofont-whatsapp
    = render 'app/partials/navbar'

    = yield

    = render 'app/partials/footer'
    = render 'app/partials/scripts'
