<!DOCTYPE html>
<html>
<head>
  <title>Keppler products</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "keppler_products/application", media: "all" %>
  <%= javascript_include_tag "keppler_products/application" %>
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" /> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script> -->
</head>
<body>

<%= yield %>

</body>
</html>
