= simple_form_for [:admin, :products, @category] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_products_categories_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h2.box-title
              - if params[:parent]
                = "Nueva subcategoría para #{@parent.name}"
              - else
                = t('keppler.models.pluralize.categories').humanize
            .box-tools.pull-right
              %a.btn.btn-box-tool{'data-widget': 'collapse', type: 'button'}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .col-xs-12
                    = f.input :name, as: :string
                    = f.input :description, as: :text, input_html: { maxlength: "50"}
                  .col-lg-6.col-md-6.col-sm-12
                    = f.input :image, as: :keppler_file
                  .col-lg-6.col-md-6.col-sm-12
                    = f.input :banner, as: :keppler_file
                  - if params[:parent]
                    .col-xs-12
                      %input.hidden{type: 'text', value: params[:parent], name: 'parent'}
                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                      = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
          - if params[:parent]
            .box-header.with-border
              %h4.box-title= "Subcategorías de #{@parent.name}"
            .box-body
              %table.table
                %thead
                  - if @parent.children.size.zero?
                    %tr
                      %th.not-records.center
                        %h6= t('keppler.messages.not_found_records', model: t('keppler.models.pluralize.subcategories'))
                  - else
                    %tr
                      %th= t('activerecord.attributes.name')
                      %th= t("activerecord.attributes.add_subcategory")
                %tbody.objects-container
                  - @parent.children.each do |child|
                    %tr
                      %td{ style: 'width: 33%'}
                        = link_to({ action: :show, id: child.id, search: @query }, { class: 'show-row' }) do
                          = child.name
                      %td{ style: 'width: 33%'}
                        %a{ href: new_admin_products_category_path(parent: child.id)}
                          %button.btn.btn-primary +
:scss
  .hidden{
    display: none;
  }
:javascript
  $('.category_banner').find('label').append(' (1500x500)')
  $('.category_image').find('label').append(' (400x300)')