.container.category-container
  .category-header
    %nav{ "aria-label" => "breadcrumb"}
      %ol.breadcrumb
        - @category&.ancestors.each_with_index do |category, i|
          %li.breadcrumb-item
            = link_to i.zero? ? app_category_path(category) : app_subcategory_path(category) do
              = category.name
        %li.breadcrumb-item
          - if @category.root? && @category.children?
            = link_to @category.name, app_category_path(category)
          - elsif @category.children?
            = link_to @category.name, app_subcategory_path(category)
          - else
            = link_to @category.name, app_products_path(@category)
    = simple_form_for @category, url: app_products_path(@category), method: :get do
      .input-group
        %input.form-control{placeholder: "Buscar...", type: "text", name: 'q'}
        .input-group-append
          %button.btn.btn-primary{type: "submit"}
            %i.icofont-search
      %small Ejemplo: graduación, boda, dije, etc.
  .category-box
    .category-items.w-100
      .row
        - @products.each do |product|
          .col-lg-4.col-sm-6.col-xs-12
            .card-catalogue
              .card-catalogue-img
                = link_to app_product_path(@category, product) do
                  %img{ src: product.images[0] }
              .card-catalogue-content
                %h2.card-catalogue-title= product.name
                = link_to app_product_path(@category, product), class: 'btn btn-custom' do
                  Cotizar
        / %nav.nav-paginator{"aria-label" => "..."}
        /   %ul.pagination
        /     %li.page-item.disabled
        /       %a.page-link{"aria-label" => "Previous", href: "#"}
        /         %span{"aria-hidden" => "true"} «
        /     %li.page-item.active{"aria-current" => "page"}
        /       %a.page-link{href: "#"} 1
        /     %li.page-item
        /       %a.page-link{href: "#"} 2
        /     %li.page-item
        /       %a.page-link{href: "#"} 3
        /     %li.page-item
        /       %a.page-link{"aria-label" => "Next", href: "#"}
        /         %span{"aria-hidden" => "true"} »
        = paginate @products
